* {
    box-sizing: border-box;
}

.container {
	width: 900px;
	margin: 0 auto;
}

#big {
	background-color: rgb(234, 238, 175);
	height: 440px;
	margin: 0 auto;
	padding: 100px 40px 100px 40px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	
}



#big_picture img {
	width: 500px;
	height: 300px;
	margin: 0 auto;
}

#previous {
	fill: rgb(0, 0, 0);
	margin: 0 0 0 60px;
}

#next {
	fill: rgb(0, 0, 0);
	margin: 0 60px 0 0;
}

#previous:hover,
#next:hover {
	fill: rgb(94, 206, 196);
}

#gallery {
	display: flex;
	justify-content: space-between;
	margin: 0 auto;
	padding: 60px;
	background-color: lightblue;
}

#image_1, #image_2, #image_3 {
	margin: 0px;
    width: 160px;
	height: 120px;
	
}